# Lambda
   - syntax : sum = lambda a,b: a+b
   -          square = lambda a: a**2
   - no names for lambda function, regular functions have a name. lambda functions are like anonymous function in JS
   - is generally used when we have to pass a function into another function as a parameter
   - it implicitly returns, no need to specify return explicitly

## lambda can be stored to a variable

In [4]:
square2 = lambda num: num*num
print(f"type(square2) : {type(square2)}")
print(f"square2 : {square2}")
print(f"square(4) : {square2(4)}")
print(square2.__name__) # lambda doesn't have a name

type(square2) : <class 'function'>
square2 : <function <lambda> at 0x7fde8fbad3a0>
square(4) : 16
<lambda>

In [5]:
add = lambda a,b: a + b

print(add(2,3))

5

## lambda with no params

In [7]:
def print_string_from_lambda(str_lambda): # str_lambda holds the lambda function
    print(f"print_string_from_lambda : {str_lambda()}")
    
print_string_from_lambda(lambda: 'printing string from lambda')

print_string_from_lambda : printing string from lambda

## write a lambda for cube

In [10]:
cube_lambda = lambda num: num**3
print(f"cube_lambda(3) : {cube_lambda(3)}")

cube_lambda(3) : 27

# map
  - standard function that acceppts 2 arguments
      - function
          - iterable (like ., lists, strinigs, dictionaries, sets, tuples)
      - we can pass lambda function for the function argument:
          - which will run for each value in the iterable
      - when we convert the map to an iterable, it will iterate thr all the items in the map, so once iterated it will be empty
      - list(map_object) --> iterates thr the map and converts to a list and the map object will be empty
       
  - returns a map object which can be converted into other data structures
  - **once we iterate over the map, the map will be empty**

In [15]:
doubles = map(lambda num: num**2, (1,2,3,4,5))
# the first argument lambda function will be executed on each item in the iterable that is passed as the second argument
print(f"doubles : {doubles}") # it will be a map object, can be converted to other data structures (list, tuples ...)
doubles_list = list(doubles)
print(f"doubles_list : {doubles_list}") # [1, 4, 9, 16, 25]
# once we iterate over the list it will be empty
sum = 0
for item in doubles_list:
    sum += item
print(f"sum : {sum}")
print(f"after iterating the list created from map it will be same: {doubles_list}")
# we can also iterate the map object
print(f"cant peek into the map object :  {doubles}")

sum_from_map = 0
for item in doubles:
    sum_from_map += item

print(f"after iterating the map object when converted to list it will be empty: {list(doubles)}")

doubles : <map object at 0x7fde8fd24d30>
doubles_list : [1, 4, 9, 16, 25]
sum : 55
after iterating the list created from map it will be same: [1, 4, 9, 16, 25]
cant peek into the map object :  <map object at 0x7fde8fd24d30>
before iterating the map object, when converted to a list: []
after iterating the map object when converted to list it will be empty: []

## Example : decrement list

In [17]:
lst = [1,2,3,4]
def decrement_list(lst):
    decrement_map = map(lambda itm: itm - 1, lst)
    return list(decrement_map)
print(decrement_list(lst))

[0, 1, 2, 3]

# filter
   - lambda runs for each value in the iterable (same as map)
   - returns filter object which can be converted to other iterables
   - The filter object contains only the values that return true to the lambda function

## Filter Example : filter to get the list of even nums

In [21]:
lst_range = range(1,30)
print(f"lst_range : {lst_range}")
lst = list(lst_range)
print(f"lst : {lst}")
list_evens = list(filter(lambda num: num%2==0, lst))
print(f"list_evens : {list_evens}")

lst_range : range(1, 30)
lst : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
list_evens : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Filter Example : filter inactive users

In [29]:
users = [
    {"username": "sam", "tweets": ["I love coding", "I love cake"]},
    {"username": "Rohit", "tweets": ["I love batting", "I love catching"]},
    {"username": "Dhoni", "tweets": []},
    {"username": "Prudvi", "tweets": ["I love coding", "I love cake"]},
    {"username": "Ishan", "tweets": []},
]

inactive_users = list(filter(lambda user: not user.get('tweets'), users))
active_users = list(filter(lambda user: user['tweets'], users)) 

print(f"inactive_users : {inactive_users}")
print(f"active_users : {active_users}")

inactive_users : [{'username': 'Dhoni', 'tweets': []}, {'username': 'Ishan', 'tweets': []}]
active_users : [{'username': 'sam', 'tweets': ['I love coding', 'I love cake']}, {'username': 'Rohit', 'tweets': ['I love batting', 'I love catching']}, {'username': 'Prudvi', 'tweets': ['I love coding', 'I love cake']}]

## List comprehension : same can be done using list comprehension

In [31]:
users_lc = [
    {"username": "sam", "tweets": ["I love coding", "I love cake"]},
    {"username": "Rohit", "tweets": ["I love batting", "I love catching"]},
    {"username": "Dhoni", "tweets": []},
    {"username": "Prudvi", "tweets": ["I love coding", "I love cake"]},
    {"username": "Ishan", "tweets": []},
]

in_active_users_list_comprehension = [user for user in users_lc if not user['tweets']]
print(f"in_active_users_list_comprehension : {in_active_users_list_comprehension}")

in_active_users_list_comprehension : [{'username': 'Dhoni', 'tweets': []}, {'username': 'Ishan', 'tweets': []}]

In [39]:
## Filter Example : remove negative
tple = (-1, -2, 3,4,-5,6,7,8,9)
print(tple)
positive_filter = list(filter(lambda item: item > 0, tple))
print(f"positive_filter: {positive_filter}")
positives = [item for item in tple if item > 0]
print(f"positives : {positives}")

(-1, -2, 3, 4, -5, 6, 7, 8, 9)
positive_filter: [3, 4, 6, 7, 8, 9]
positives : [3, 4, 6, 7, 8, 9]

# combining map and filter methods
## print test results only for passed tests

In [1]:
test_results = [True, False, True, False, False, True, False, True, False, True, False, True, False, True, False, True]
passed_test_results = list(map(lambda passed_test: f"Test passed : {passed_test}",filter(lambda test_result: test_result, test_results)))

print(f"passed_test_results : {passed_test_results}")

passed_test_results : ['Test passed : True', 'Test passed : True', 'Test passed : True', 'Test passed : True', 'Test passed : True', 'Test passed : True', 'Test passed : True', 'Test passed : True']

# all : built in function

  - returns true : if all elements of the iterable are truthy
  - returns true : if the iterable is empty
  
## Example 1 : false as the iterable has 0 which is a falsy value

In [7]:
list_falsy = [0,1,2,3,4,5,6]
print(f"False as the iterable has 0 which is a falsy value : {all(list_falsy)}")

lst_true = [1,2,3,4,5,6,10]
print(f"True as the iterable has all Truthy values : {all(lst_true)}")

lst_empty = []
print(f"returns true : if the iterable is empty : {all(lst_empty)}")

False as the iterable has 0 which is a falsy value : False
True as the iterable has all Truthy values : True
returns true : if the iterable is empty : True

## Example 2 : Check if all the names start with 'C'

In [6]:
people = ['Charlie', 'Cody', 'Chris', 'Kate']
people2 = ['Charlie', 'Cody', 'Chris', 'Charan']
result = all([True if person[0] == 'C' else False for person in people])
result2 = all([True if person[0] == 'C' else False for person in people2])
print(f"All persons name start with 'C' : {result}")
print(f"All persons name start with 'C' : {result2}")

All persons name start with 'C' : False
All persons name start with 'C' : True

#  any : built in function
    - returns true :  if any element of the iterable is truthy.
    - returns false :if the iterable is empty

In [9]:
people = ['Charlie', 'Cody', 'Chris', 'Kate']

result = any([True if person[0] == 'K' else False for person in people])
print(f"returns true :  if any element of the iterable is truthy. : {result}")

returns true :  if any element of the iterable is truthy. : True

#   generator expressions
       - lighter weight version of list
       - we can't use list methods (like append, extend ....)
       - we can use it as an intermediatory iterator, instead of converting to list we can use the generator
       - so to pass it to any/all where we need not want a list, there we can use generators
       - https://stackoverflow.com/questions/47789/generator-expressions-vs-list-comprehensions
       - basically use generator expression when we are iterating only once
       - so in the case when we use any/all, its better to use generator comprehension
       
  ***Note: range(1,10) : range returns an iterator which is a generator
       
### Example 1

In [13]:
lst = list(range(90))
print(lst)
print(f"using 'all' function on generator : {all(i*10 for i in lst)}") # 0 is falsy
print(f"using 'any' function on generator : {any(i*10 for i in lst)}") # except 0 all are truthy and any needs one truthy val to return True

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
using 'all' function on generator : False
using 'any' function on generator : True

### Example 2 : check if the iterable has all string data

In [21]:
def is_all_strings(lst):
    return all(type(i)==str for i in lst)

print(is_all_strings(['a', 's']))
print(is_all_strings(['a', 's', 1]))
print(is_all_strings(('a', 's', 'True')))

True
False
True

# sorted function
### sorted
       - list.sort() --> this will sort the original list
       - list.sort() -> is a list specific method
       - sorted --> will retuns a new list which is sorted. do not change the original list
       - sorted: we can pass even a tuple as well, though it will return a list after sort
       
### Example : sort a list in the reverse order

In [2]:
lst1 = [1, 2, 6, 7, 8, 3, 4, 5]
print(f"sort the list : {sorted(lst1)}")
print(f"sort the list in the reverse order : {sorted(lst1, reverse=True)}")

sort the list : [1, 2, 3, 4, 5, 6, 7, 8]
sort the list in the reverse order : [8, 7, 6, 5, 4, 3, 2, 1]

###   Example 2 : sorted on tuple

In [3]:
tuple1 = (1, 2, 6, 7, 8, 3, 4, 5)
print(f"sort the tuple : {sorted(tuple1, reverse=True)}")

sort the tuple : [8, 7, 6, 5, 4, 3, 2, 1]

### Example 3 : 
- Both list.sort() and sorted() have a key parameter to specify a function (or other callable) to be called on each list element prior to making comparisons.

In [9]:
users = [
    {"username": "sam", "tweets": [
        "I love coding", "I love cake", "I love batting", "I love catching"]},
    {"username": "Rohit", "tweets": ["I love batting", "I love catching"]},
    {"username": "Dhoni", "tweets": []},
    {"username": "Prudvi", "tweets": [
        "I love coding", "I love cake", "hi", "Bye"]},
    {"username": "Ishan", "tweets": []},
]

sorted_users = sorted(users, key = lambda user: len(user['tweets']))
sorted_users_reverse = sorted(users, key = lambda user: len(user['tweets']), reverse=True)
print(f"\nsorted_users : {sorted_users}")
print(f"\nreverse sorted_users : {sorted_users_reverse}")

sorted_by_username = sorted(users, key = lambda user: user['username'])
sorted_by_username_reverse = sorted(users, key = lambda user: user['username'], reverse = True)
print(f"\nsorted_by_username : {sorted_by_username}")
print(f"\nsorted_by_username_reverse : {sorted_by_username_reverse}")

sorted_users : [{'username': 'Dhoni', 'tweets': []}, {'username': 'Ishan', 'tweets': []}, {'username': 'Rohit', 'tweets': ['I love batting', 'I love catching']}, {'username': 'sam', 'tweets': ['I love coding', 'I love cake', 'I love batting', 'I love catching']}, {'username': 'Prudvi', 'tweets': ['I love coding', 'I love cake', 'hi', 'Bye']}]

reverse sorted_users : [{'username': 'sam', 'tweets': ['I love coding', 'I love cake', 'I love batting', 'I love catching']}, {'username': 'Prudvi', 'tweets': ['I love coding', 'I love cake', 'hi', 'Bye']}, {'username': 'Rohit', 'tweets': ['I love batting', 'I love catching']}, {'username': 'Dhoni', 'tweets': []}, {'username': 'Ishan', 'tweets': []}]

sorted_by_username : [{'username': 'Dhoni', 'tweets': []}, {'username': 'Ishan', 'tweets': []}, {'username': 'Prudvi', 'tweets': ['I love coding', 'I love cake', 'hi', 'Bye']}, {'username': 'Rohit', 'tweets': ['I love batting', 'I love catching']}, {'username': 'sam', 'tweets': ['I love coding', 'I love cake', 'I love batting', 'I love catching']}]

sorted_by_username_reverse : [{'username': 'sam', 'tweets': ['I love coding', 'I love cake', 'I love batting', 'I love catching']}, {'username': 'Rohit', 'tweets': ['I love batting', 'I love catching']}, {'username': 'Prudvi', 'tweets': ['I love coding', 'I love cake', 'hi', 'Bye']}, {'username': 'Ishan', 'tweets': []}, {'username': 'Dhoni', 'tweets': []}]

#   max
#       - retuns the largest item in an iterable(list, tuple, string....)
#       - max from the two or more args

### example 1

In [11]:
print(max([1,2,3,4,5]))
print(max((1,2,3,4,5)))

5
5

### example 2

In [9]:
names = ['Gurucharan', 'Shohil', "Tanuja", "Bhoomika", "Dileep"]
name_with_max_length = max(names, key = lambda name: len(name))
print(f"name_with_max_length : {name_with_max_length}")

name_with_max_length : Gurucharan

### example 3 : max_length_song, sorted_song_playcount

In [5]:

songs = [
    {"title": "happy birthday", "playcount": 10},
    {"title": "Survive", "playcount": 15},
    {"title": "YMCA", "playcount": 6},
    {"title": "Jana Gana Mana", "playcount": 110},
    {"title": "Swedish song", "playcount": 120},
    {"title": "Manam", "playcount": 8},
]

max_length_song = max(songs, key = lambda song: song['playcount'])
print(f"max_length_song : {max_length_song}")

sorted_song_playcount = sorted(songs, key=lambda song: song['playcount'])
print(f"\nsorted_song_playcount : {sorted_song_playcount}")

max_length_song : {'title': 'Swedish song', 'playcount': 120}

sorted_song_playcount : [{'title': 'YMCA', 'playcount': 6}, {'title': 'Manam', 'playcount': 8}, {'title': 'happy birthday', 'playcount': 10}, {'title': 'Survive', 'playcount': 15}, {'title': 'Jana Gana Mana', 'playcount': 110}, {'title': 'Swedish song', 'playcount': 120}]

### example 4: extremes from list

In [7]:
lst = [1,2,3,4,5,6]

def extremes(lst):
    res_max = max(lst, key=lambda i: i)
    res_min = min(lst, key=lambda i: i)
    return [res_min, res_max]

def extremes2(iterable):
    return (min(iterable), max(iterable))

print(f"extremes from the list : {extremes(lst)}")
print(f"extremes from the list : {extremes2(lst)}")

extremes from the list : [1, 6]
extremes from the list : (1, 6)

#   reversed
       - original iterator is not changed
       - a new reversed object is created

In [12]:
str1 = "reversed"
print(f"reversed(str1) : {reversed(str1)}")
print(f"list(reversed(str1)) : {list(reversed(str1))}")
print('-'.join(list(reversed(str1))))

reversed(str1) : <reversed object at 0x7fe1a578bd30>
list(reversed(str1)) : ['d', 'e', 's', 'r', 'e', 'v', 'e', 'r']
d-e-s-r-e-v-e-r

#   abs
       - returns an absolute value of a number
       - the argument may be an integer / floating point number
           - math.fabs (need to import math)
       - always retuns a floating val which is absolute

In [4]:
print(abs(-0.24), abs(24), abs(-34), abs(99))

0.24 24 34 99

#   sum
       - takes an iterable and an optional start (start default = 0)
       - returns the sum of start and the items of an iterable from left to right and returns the total

### passing list as iterable and with/without start

In [7]:
print(f"{sum(range(9))}") # generator
print(f"{sum(range(9), 10)}")
print(f"{sum((1,2,3,4,5,6))}")

36
46
21

#   round
       - returns number rounded to n digits precision after decimal point
       - if precision to number of digits is not passed or None, it will take it retuns nearest integer

In [9]:
print(f"{round(1.23)}")
print(f"{round(1.23, 3)}")

1
1.23

### example 1

In [10]:
def max_magnitude(num_list):
    return sum(abs(n) for n in num_list)

print(f"{max_magnitude([1,2,3,-3])}")

9

### example sum of even numbers

In [11]:
def sum_evens(iterable):
    return sum(abs(i) for i in iterable if i%2==0)
    
print(f"sum_evens([1,2,3,4,-24, 8]): {sum_evens([1,2,3,4,-24, 8])}")

sum_evens([1,2,3,4,-24, 8]): 38

### example sum of floats numbers

In [12]:
def sum_floats(iterable):
    return sum(abs(n) for n in iterable if type(n)==float)

print(f"sum_floats((1,2.2, 3, 3.2, -34)) : {sum_floats((1,2.2, 3, 3.2, -34))}")

sum_floats((1,2.2, 3, 3.2, -34)) : 5.4

#   zip
       - makes an iterator that aggregates elements from each of the iterables
       - returns an iterator of tuples, where the i-th tuple contains the ith element from each of the argument sequences or iterables
       - the iterator stops when the shortest input iterable is exhausted

In [16]:
lst1 = [1,2,3,4]
lst2 = [5,4,3,2]
zip_obj = zip(lst1, lst2)
print(f"zip object : {zip_obj}") # zip object
print(f"list(zip_obj): {list(zip_obj)}")

zip object : <zip object at 0x7fededb464c0>
list(zip_obj): [(1, 5), (2, 4), (3, 3), (4, 2)]

In [17]:
third_zip = zip(['guru','charan', 'annapantula'], [1,2,3,4,5,6], ['firstname', 'lastname', 'surname'])
print(f"list(third_zip) : {list(third_zip)}")

list(third_zip) : [('guru', 1, 'firstname'), ('charan', 2, 'lastname'), ('annapantula', 3, 'surname')]

###   un-packing list of tuples to pass on to zip

In [18]:
tuple_list = [(1, 4), (2, 5), (3, 6)]

another_zip = zip(*tuple_list)
print(f"another_zip : {list(another_zip)}")

another_zip : [(1, 2, 3), (4, 5, 6)]

In [ ]:
###   example 1: complex

In [ ]:
midterm_scores = [80, 91, 78]
final_scores = [98, 89, 53]
students = ['dan', 'ang', 'kate']

students_scores = dict(
    
)