# list comprehention
   - generates a new list
   - syntax : [ - for - in - ]
   
# list comprehension vs loops
nums = [1, 2, 3]

In [2]:
nums = [1, 2, 3]
sq_lst = [num*num for num in nums]
print(f"nums :{nums}, sq_lst : {sq_lst}")

sq_lst1 = []
for num in nums:
    sq_lst1.append(num*num)

print(f"nums :{nums}, sq_lst1 : {sq_lst1}")

nums :[1, 2, 3], sq_lst : [1, 4, 9]
nums :[1, 2, 3], sq_lst1 : [1, 4, 9]

# list comprehension

# example 1 on strings
friends = ["guru", "prem", "hansni"]

In [4]:
friends = ["guru", "prem", "hansni"]
friends_lst = [friend[0].upper() + friend[1:] for friend in friends]
print(f"friends : {friends}, friends_lst : {friends_lst}")

friends : ['guru', 'prem', 'hansni'], friends_lst : ['Guru', 'Prem', 'Hansni']

# example 2 : on ranges

In [5]:
range_ex = [num*num for num in range(1,9)]
print(f"{range_ex}")

[1, 4, 9, 16, 25, 36, 49, 64]

# example 3 : with bool function

In [7]:
lst = [0, [], '', [1, 2], 'Hello']
bool_lst = [bool(val) for val in lst]
print(f"{bool_lst}")

[False, False, False, True, True]

# example 4 : take list of nums and convert to list of strings

In [8]:
nums_list = [1, 2, 3, 4, 5, 6]
str_lst = [str(num) for num in nums_list]
print(f"{str_lst}")

['1', '2', '3', '4', '5', '6']

# example 5 : even/odd
# if :  then it will come at the end
# example 6 : if-else

In [9]:
nums = list(range(1, 15))
evens = [num for num in nums if num%2==0]
odds = [num for num in nums if num%2 != 0]
double_tripple = [num*2 if num%2 == 0 else num*3 for num in nums]
print(f"nums : {nums}")
print(f"evens : {evens}, odds : {odds}, double_tripple : {double_tripple}")

nums : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
evens : [2, 4, 6, 8, 10, 12, 14], odds : [1, 3, 5, 7, 9, 11, 13], double_tripple : [3, 4, 9, 8, 15, 12, 21, 16, 27, 20, 33, 24, 39, 28]

# example 7 : if with string

In [11]:
with_vowels = "This is so much fun"
without_vowels = "".join([ch for ch in with_vowels if ch not in ['a', 'e', 'i', 'o', 'u']])
print(f"with_vowels : {with_vowels}")
print(f"without_vowels : {without_vowels}")
without_vowels_lst = [ch for ch in with_vowels if ch not in ['a', 'e', 'i', 'o', 'u']]
print(f"without_vowels_lst : {without_vowels_lst}")

with_vowels : This is so much fun
without_vowels : Ths s s mch fn
without_vowels_lst : ['T', 'h', 's', ' ', 's', ' ', 's', ' ', 'm', 'c', 'h', ' ', 'f', 'n']

# example 8 : if-else with string

In [14]:
with_vowels = "This is so much fun"
without_vowels_lst = [ch if ch not in 'aeiou' else '€' for ch in with_vowels]
print(without_vowels_lst)
without_vowels = ''.join(without_vowels_lst)
print(without_vowels)

['T', 'h', '€', 's', ' ', '€', 's', ' ', 's', '€', ' ', 'm', '€', 'c', 'h', ' ', 'f', '€', 'n']
Th€s €s s€ m€ch f€n

# example 9: intersection from 2 lists

In [15]:
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
intersection_lst = [val for val in lst1 if val in lst2]
print(f"lst1 : {lst1}, lst2 : {lst2},  intersection_lst : {intersection_lst}")

lst1 : [1, 2, 3, 4], lst2 : [3, 4, 5, 6],  intersection_lst : [3, 4]

# example 10: reverse the items in the list
names = ["Elie", "Tim", "Matt"]

In [16]:
names = ["Elie", "Tim", "Matt"]
rev_names = [item[::-1] for item in names]
print(f"names : {names}, rev_names : {rev_names}")

names : ['Elie', 'Tim', 'Matt'], rev_names : ['eilE', 'miT', 'ttaM']