# sets
   - **NO order**
   - **NO duplicates**
   - collection of items
   - can't access the items in set using index, as they are not in order
   - like combination of list & dictionary features
       - no order like dict, and syntax like dict use {}
       - no key, val pairs like list

In [1]:
set1 = set({1,2,3,4,5})
print(f"set1 : {set1}")

set1 : {1, 2, 3, 4, 5}

## sets can have different data types, and no order

In [2]:
set2 = {1, 'a', 2, 3, 4}
print(f"set2 : {set2}")

set2 : {1, 2, 3, 4, 'a'}

## no duplicates

In [3]:
no_duplicates_set = {1,2,3,4,5,5,4,3,2,1}
print(f"no_duplicates_set : {no_duplicates_set}")

no_duplicates_set : {1, 2, 3, 4, 5}

## checking if a item is there in the set

In [4]:
item_exists_set = {'love', 'Python'}
print(f"'Python' in item_exists_set : {'Python' in item_exists_set}")

'Python' in item_exists_set : True

## accessing with index throws error

In [5]:
accessing_set_idx = {1,2,3,4,5,5,4,3,2,1}
accessing_set_idx[0]

TypeError: 'set' object is not subscriptable

# example looping

In [6]:
set_loop = {1, 2, 3, 4, 5, 5, 5, 5}
for item in set_loop:
    print(item)

1
2
3
4
5

# example : find the unique countries of users

In [10]:
user_countries = ['India', 'Sweden', 'Sweden',
                  'India', 'USA', 'UK', 'USA', 'France']

unique_countries_set = set(user_countries)
print(f"to get unique_countries convert to set, from list of duplicate countries : {unique_countries_set}, count : {len(unique_countries_set)}")
unique_countries_list = list(unique_countries_set)
print(f"unique_countries_list : {unique_countries_list}, count : {len(unique_countries_list)}")

to get unique_countries convert to set, from list of duplicate countries : {'USA', 'UK', 'France', 'India', 'Sweden'}, count : 5
unique_countries_list : ['USA', 'UK', 'France', 'India', 'Sweden'], count : 5

# set methods

## add
## remove
## discard
## copy
## clear
## intersection
## union

In [16]:
set1 = {1, 2, 3, 4, 5, 5, 5, 5}
print(f"set1.add(6) : {set1.add(6)}", f"\nnow the set is : {set1}")
print(f"remove item from set : {set1.remove(5)}", f"\nnow the set is {set1}")
print(f"trying to remove the item not in set will throw KeyError error : {set1.remove(12)}")

set1.add(6) : None
now the set is : {1, 2, 3, 4, 5, 6}
remove item from set : None
now the set is {1, 2, 3, 4, 6}

KeyError: 12

In [17]:
set2 = {1, 2, 3, 4, 5, 5, 5, 5}
print(f"trying to remove the item not in set *using discard* will NOT throw KeyError error but None : {set1.discard(12)}")

trying to remove the item not in set *using discard* will NOT throw KeyError error : None

## copy
- creates a new copy of set
- == --> true
- is --> False

In [18]:
set3 = {1,2,3,4,4,4}
set_copy = set3.copy()
print(f"set_copy : {set_copy}")
print(f"set3 == set_copy : {set3 == set_copy}")
print(f"set3 is set_copy : {set3 is set_copy}")

set_copy : {1, 2, 3, 4}
set3 == set_copy : True
set3 is set_copy : False

## clear

In [22]:
set4 = {1,2,3,4,4,4}
print(f"set4.clear() : {set4.clear()}", "\n",set4)

set4.clear() : None
 set()

In [ ]:
## set Math : intersection / union / symmetric_difference

In [24]:
rcb_team = {'Virat', 'Fah', 'Padikal', 'Match1', 'Match2'}
csk_team = {'Dhoni', 'Jaddu', 'Bravo', 'Match1', 'Match2'}
print(f"union(|) of both sets : {rcb_team | csk_team}")
print(f"intersection(&) of both sets : {rcb_team & csk_team}")

union(|) of both sets : {'Dhoni', 'Fah', 'Virat', 'Match1', 'Match2', 'Jaddu', 'Padikal', 'Bravo'}
intersection(&) of both sets : {'Match1', 'Match2'}

# set comprehensions
   - similar to dictionary comprehension but it will have only one val and not key,val

## set comprehension with if
### ***example 1 : set and dictionary can be the output***

In [28]:
set1 = {1, 2, 3, 4, 5, 6, 7}
set_evens = { num for num in set1 if num%2 == 0}
print(f"set_evens : {set_evens}", f"\ntype of set_evens : {type(set_evens)}")
dict_evens = {num:'even' for num in set1 if num%2 == 0}
print(f"dict_evens : {dict_evens}", f"\ntype of dict_evens : {type(dict_evens)}")

set_evens : {2, 4, 6}
type of set_evens : <class 'set'>
dict_evens : {2: 'even', 4: 'even', 6: 'even'}
type of dict_evens : <class 'dict'>

### example 2 : create set from ranges

In [31]:
set_from_ranges = {num*num for num in range(1,10)}
print(f"creating set from ranges and note set is not ordered collection: {set_from_ranges}")

creating set from ranges : {64, 1, 4, 36, 9, 16, 49, 81, 25}

### example 3 : creating set from string with duplicate characters

In [33]:
set_from_string = { ch for ch in 'Hello'}
print(f"set will hold only unique values and they are not ordered: {set_from_string}")

set will hold only unique values and they are not ordered: {'H', 'e', 'o', 'l'}

### example 4 : how many unique vowels are there in a string

In [34]:
str1 = "Gurucharan"
unique_vowels = { ch for ch in str1 if ch.lower() in 'aeiou'}
print(f"unique_vowels : {unique_vowels}", f"count of vowels : {len(unique_vowels)}")

unique_vowels : {'a', 'u'} count of vowels : 2